<html>
	{{>head}}
	<body>
		<div>
			<div class="input-wrapper">
		      	<input id="github-login" placeholder="github" style="display: inline-block;" type="text">
			  	<button type="button" id="github-login-button" class="form-btn" data-id="#github-login">Add</button>
			  	<span id="loading" style="display:none;">Loadin....</span>
			  	<span id="geenric-error" style="display:none;">Error occured while fetching</span>
			  	<span id="duplicate-id" style="display:none;">DUPLICATE ID</span>
			</div>

		  	<div id="sort-attr" class = "mb-12">
		  		Sort By : 
		  		<span id = "sort-by-name" class="sort-attributes" data-sortFn="sortByName" >Name</span>
		  		<span id = "sort-by-location" class="sort-attributes" data-sortFn="sortByLocation" > Location</span>
		  		<span id = "sort-by-followers" class="sort-attributes" data-sortFn="sortByFollowers" >Followers</span>
		  	</div>
			<div class="row">
				<div class="col-md-12 ">
					{{{ body }}}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/templates.js"></script>
		<script type="text/javascript" src="/javascripts/cards.js"></script>
	</body>
</html>
