<li>
	<div class="card-wrap">
		<div class="img-wrap">
			<img src="{{imgSrc}}" alt="" />
		</div>
		<div class="detail-wrap">
			<h2 class="name">{{name}}</h2>
			<div>{{location}}</div>
			<div>{{followers}}</div>
		</div>
	</div>
</li>