<div class="container">
	<div class="page-wrap">
		<ul>
			<li>
				<div class="card-wrap">
					<div class="img-wrap">
						<img src="" alt="" />
					</div>
					<div class="detail-wrap">
						<h2 class="name">lorem ipsum</h2>
						<div>lorem ipsum</div>
						<div>lorem ipsum</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
