body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #333;
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.page-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-wrap ul li {
    display: inline-block;
    vertical-align: top;
    max-width: 230px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.page-wrap ul li .card-wrap {
    border: 1px solid rgba(151, 151, 151, 0.5);
    border-radius: 7px;
    position : relative;
}

.page-wrap ul li .card-wrap:hover {
    border: 1px solid rgba(15, 0, 255, 0.5);
    border-radius: 7px;
    cursor: pointer;
}

.page-wrap ul li .card-wrap .img-wrap {
    height: 220px;
    width: 100%;
    padding : 4px;
}

.page-wrap ul li .card-wrap .detail-wrap {
    background: #ffffff;
    height: 80px;
    padding: 10px 10px;
    text-align: left;
    margin-bottom: 2.5px
}

.page-wrap ul li .card-wrap:hover .detail-wrap a {
	color: #333;
    border-bottom: solid 0.5px #333;
    text-decoration: none;
}

.page-wrap ul li .card-wrap .detail-wrap .name{
    font-size: 20px;
    padding: 2px;
}
.page-wrap ul li .card-wrap .detail-wrap .sub-head{
    font-weight: 650;
    padding: 2px;
}

input[type="text"] {
    margin-right: .2em;
    font-size: 22px;
    padding: 8px;
    max-width: 190px;
    border-radius: 6px;
    box-shadow: none;
    border-width: 1px;
    border: 1px solid #ddd;
}

.form-btn {
    vertical-align: top;
    height: 3em;
    width: 4em;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    background-image: linear-gradient(#6da4dd, #447bb0);
}

.input-wrapper {
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;    `
}

.mb-12 {
    margin-bottom: 12px;
}

img {
    width :100%;
    max-width:100%;
}




.btn {
    height: 3em;
    background-image: linear-gradient(#6da4dd, #447bb0);
    color: #fff;
}

.ellipsis {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.close-icon {
    position : absolute;
    top : 10px;
    right : 10px;
    color : #000;
}
