body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
	max-width: 1140px;
	margin: 0 auto;
}
.page-wrap{
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			display: inline-block;
			vertical-align: top;
			max-width: 230px;
			width: 100%;
			margin-right: 20px;
			margin-bottom: 20px;
			.card-wrap{
				border: 1px solid rgba(151,151,151,0.5);
				border-radius: 5px;
				img-wrap{
					height: 120px;
					width: 100%;
					img{
						width: 100%;
						height: 100%;  /* in this case image will take 100% height irrespective of image size...image can skew */
					}
				}
				.detail-wrap{
					background: #ffffff;
					height: 60px;
					padding: 20px;
			       }				
		       }
	       }
       }
}

.form-group {
	margin-bottom: 10px;
	margin-right: 2px;
	width: 13em;
	height: 3em;
	border : .1em solid #ddd;
	box-shadow: none;
	color : #333;
	padding : 1em;
	border-radius : .5em;
}

.btn {
	height : 3em;
	background-image: linear-gradient(#6da4dd, #447bb0);
	color : #fff;
}

span {
	padding-right: 10px
}
span:hover{
	color : blue;
}

